
body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}

body {
  color: #ecebf0;
}
.color-bg {
  background: #79d4d9;
  color: #fff;
  position: relative;
}


/*========================   Nav manu ==================*/


.leady-img {
  position: absolute;
  right: -35px;
  bottom: 0;
}
.slide-text {
  max-width: 500px;
  padding-left: 100px;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 100px;
  padding-top: 60px;
}
.top-text {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
}
.top-text::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #fff;
  content: "";
}
.slide-text h1 {
  font-size: 55px;
  font-weight: 400;
  line-height: 60px;
  margin-top: 60px;
  margin-bottom: 59px;
}
.box-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: #ffff;
  padding: 10px 30px;
  text-transform: uppercase;
  background: #f5f45d;
  border-radius: 50px;
  box-shadow: 0 10px 60px #f5f45d;
}
.slide-text .box-btn {
  margin-top: 30px;
}





